@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-gradient-brand {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-green-500;
  }

  .nav-link-btn {
    @apply text-blue-600 transition-colors duration-300;
  }
  
  .nav-link-btn:hover {
    @apply text-green-500 !important;
  }
}

/* global utility classes */
.textStyle {
  font-family: "Copperplate" !important;
  font-size: 1.3rem;
  line-height: 1.7;
  font-weight: 500;
  color: #222;
  text-align: justify;
}

.textFont {
  font-family: "Copperplate" !important;
}
